ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align: center;
    margin: 2vw 2vw 2vw 2vw;
}

nav {
    background-color: #EDEDED;
    border-;
    border-color: #EDEDED;
}

.active {
    color: blue;
}

a {
    font-family: Arial;
    font-size: 18pt;
    color: #409AF4;
    text-decoration: none;
}

#main_title {
    font-size: 24pt;
}

table {
    margin-top: 1vw;
    font-family: Arial;
}

thead {
    font-size: 15pt;
    background-color: #34BAD5;
}

.fname {
    font-size: 15pt;
}

th {
    padding: 1vw 3vw 1vw 3vw;
}

td {
    padding: 1vw 1vw 1vw 1vw;
}