h1 {
  text-align: center;
}

h2, h5 {
	padding: 0 11%;
	font-size: 3.75vw;
}

p {
	font-size: 2.3vw;
}

body {
	font-family: Arial, sans-serif;
	white-space: nowrap;
	text-align: center;
}

ul {
  border: 1px solid black;
  padding: 10px 0;
  display: table;
  width: 100%;
}

li {
	display: table-cell;
	width: 30vw;
	text-align: center;
}

a {
	text-decoration: none;
	color: #34bad5;
}

.active {
	background-color: #34bad5;
	color: white;
	padding: 10px 13vw;
}

.game-button {
	background-color: #34bad5;
	width: 80%;
    padding: 7px 0;
    color: white;
    font-size: 16px;
    margin: 0 10%;
}

.game {
	display: flex;
	border: 1px solid #A9A9A9;
	border-radius: 10px;
	padding: 5px;
	width: 90%;
	margin: 20px auto;
}

.win > h2 {
  color: green;
}

.lose > h2 {
  color: red;
}

